# Ignorer databasefiler
*.db
*.sqlite
*.db-journal

# Ignorer IDE/editor-filer
.vscode/
.idea/
*.swp
*.swo

# Ignorer Pyhon-cache
__pycache__/
*.pyc

# Ignorer enkeltmapper
db/backups/
db/data/raw/

# Ignorer 